@import "reset.css";
@import "style/letter.css";
@import "style/nav-bar.css";
@import "style/main_box.css"; /* 다운받은 외부 폰트 불러오기 */
@font-face {
  /* 폰트 패밀리로 할 이름 설정하기 */
  font-family: "Hanna";
  src: url("fonts/BMHANNAPro.ttf");
}

body {
  height: 2000px;
}
a {
  text-decoration: none;
  color: inherit;
}
