.nav_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 232, 205, 0.9);

  box-sizing: border-box;
  height: 50px;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0px;
}

/* 엑티베이트 클래스가 추가되면 색깔을 검정색으로 바꾸고 싶은 것 */
.scroll_down {
  background-color: rgba(0, 0, 0, 0.9);
  color: lightcyan;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition: color 0.2s ease-in-out;
}

.nav_bar .nav_bar_left {
  width: 240px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-left: 50px;
  font-size: 20px;
}

.nav_bar .nav_bar_right {
  padding-right: 30px;
  width: 300px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 17px;
  /* font-family: Hanna; */
}

.nav_bar_right span:hover {
  color: khaki;
  font-size: 21px;
}
